---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="home-internal"></div>
  {{ content }}
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <a class="home-to-post" href="{{ post.url | relative_url }}"> </a>
        <h1>
          {{ post.title | escape }}
          <span style="font-size: 14px; color: #828282; float: right">{{ post.date | date: date_format }}</span>
        </h1>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        {%- if post.image -%}
          <img src="{{post.image}}" class="img" alt="home img"/>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>

</div>
